#step2 {
  .wrapper {
    margin-top: 2rem;
    position: relative;
    padding: 0 1rem;
  }

  .total_device {
    position: absolute;
    bottom: 17px;
    right: 0;
    color: var(--red-invalid);
    font-weight: 500;
  }

  .select_group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-right: 1rem;

    select:active {
      color: #000;
      font-weight: 500;
    }
  }

  .invalid {
    border: 1px solid var(--red-invalid);
    animation: shake 350ms;
  }

  .btn_group:nth-child(3) {
    align-items: center;
    justify-content: center;
  }

  .btn_group {
    display: flex;
    gap: 1rem;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      
      margin-bottom: 2rem;
      border-radius: 0.6rem;
      transition: all 0.3s ease;

      cursor: pointer;

      span {
        font-size: 1rem;
        font-weight: 500;
      }

      &:nth-child(1) {
        color: #17a3a3;
        margin-right: 1rem;
        &:hover {
          filter: contrast(0.95)
        }
        &:active {
          scale: (1.2);
        }
      }

      &:nth-child(2) {
        color: var(--red-invalid);

        &:hover {
          filter: contrast(0.95)
        }
        &:active {
          scale: (1.2);
        }
      }
    }
  }
  
  .btn_back {
    background-color: var(--gray-50);
  
    &:hover {
      background-color: var(--gray-50);
      opacity: 0.8;
    }
  }

  button {
    padding: 1rem 1.5rem;
    max-width: 200px;
    font-size: 1.2rem;
    border-radius: 4rem;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--text-color-white);
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;

    transition:  all 0.3s ease;

    &:hover {
      background-color: var(--primary-color-hover);
      transform: none;
    }
  }
}

@media (min-width: 520px) {
  #step2 {
    .select_group {
      flex-direction: row;
      label {
        &:nth-child(1) {
          max-width: 300px;
        }
        &:nth-child(2) {
          width: 100%;
        }
      }
    }

    .btn_group:nth-child(3) {
      align-items: center;
      justify-content: initial;
    }
  }
}

@media (min-width: 920px) {
  #step2 {
    .select_group {
      margin-right: 0;
    }
  }
}

@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}