#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_wrapper {
  animation: modal_animation 500ms;
  position: relative;

  background-color: var(--white-color);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  padding: 3rem 0.5rem 3rem 2rem;

  max-width: 767px;
  max-height: 950px;

  width: 97%;
  height: 95%;

  transition: all 0.3s ease;

  > header {
    font-size: 2rem;
    font-weight: 700;

    span {
      color: var(--primary-color);
    }
  }

  .close_modal {
    position: absolute;
    top: 25px;
    right: 15px;
    font-size: 3rem;
    transition: filter 0.3s ease;

    cursor: pointer;

    &:hover {
      filter: contrast(0.6);
    }
  }

  .modal_form {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: var(--white-color);
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--primary-color);
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color-hover);
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: var(--primary-color-hover);
  }
}

@media (min-width: 560px) {
  #modal {
    .modal_wrapper {
      //max-height: 660px;
      padding: 3rem;
    }
    .close_modal {
      right: 25px;
    }
  }
}

@keyframes modal_animation {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  25% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(10px);
  }

  75% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
